<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio_cocacola' %}">Coca Cola</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio_cocacola' %}">Inicio</a>
          </li>
  
          <!-- Cliente (submenú) -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="clienteMenu" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-people-fill"></i> Cliente
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_cliente' %}">Ver Cliente</a></li>
            </ul>
          </li>
  
          <!-- Parte del navbar (sólo el bloque Proveedor) -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="proveedorMenu" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-truck"></i> Proveedores
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_proveedor' %}">Ver Proveedores</a></li>
              <!-- Las opciones de actualizar y borrar se realizan desde la lista (ver_proveedor) con botones por fila -->
            </ul>
          </li>

  
          <!-- Producto -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="productoMenu" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-box-seam"></i> Producto
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Agregar Producto</a></li>
              <li><a class="dropdown-item" href="#">Ver Producto</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">