{% extends 'base.html' %}
{% block content %}
  <h3>Actualizar Cliente</h3>
  <form method="post" action="{% url 'realizar_actualizacion_cliente' cliente.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" name="nombre" value="{{ cliente.nombre }}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" name="apellido" value="{{ cliente.apellido }}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Dirección</label>
      <input type="text" name="direccion" value="{{ cliente.direccion }}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" name="telefono" value="{{ cliente.telefono }}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" name="email" value="{{ cliente.email }}" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Preferencia</label>
      <input type="text" name="preferencia" value="{{ cliente.preferencia }}" class="form-control">
    </div>
    <button class="btn btn-success" type="submit">Guardar cambios</button>
    <a href="{% url 'ver_cliente' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}