{% extends 'base.html' %}
{% block content %}
  <h3>Agregar Cliente</h3>
  <form method="post" action="{% url 'agregar_cliente' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" name="apellido" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Dirección</label>
      <input type="text" name="direccion" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" name="telefono" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Preferencia</label>
      <input type="text" name="preferencia" class="form-control">
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
    <a href="{% url 'ver_cliente' %}" class="btn btn-secondary">Volver</a>
  </form>
{% endblock %}